@tailwind base;
@tailwind components;

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center 
        h-12 w-12 mt-2 mb-2 mx-auto  
        bg-gray-400 hover:bg-green-600 dark:bg-gray-800 
        text-green-500 hover:text-white
        hover:rounded-xl rounded-3xl
        transition-all duration-300 ease-linear
        cursor-pointer shadow-lg;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
        text-white bg-gray-900 
        text-xs font-bold 
        transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-hr {
        @apply bg-gray-200 dark:bg-gray-800 
        border border-gray-200 dark:border-gray-800 rounded-full
        mx-2;
    }

    .top-navigation {
        @apply flex flex-row items-center justify-evenly 
        bg-gray-300 dark:bg-gray-700 bg-opacity-90 
        w-full h-16 
        m-0 pl-20 shadow-lg;
        /* pl-6 sm:pl-20  */
    }

    .top-navigation-icon {
        @apply text-gray-500
        mr-3 ml-4
        transition duration-300 ease-in-out 
        hover:text-pink-400 
        cursor-pointer;
    }

    .top-navigation-icon:first {
        @apply ml-auto mr-4;
    }

    .title-hashtag {
        @apply text-lg tracking-wider font-semibold text-gray-500 
        my-auto;
    }

    .title-text {
        @apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 
        mr-auto ml-2 my-auto 
        transition duration-300 ease-in-out;
    }

    .content-container {
        @apply flex flex-col 
        bg-gray-300 dark:bg-gray-700
        m-0
        min-h-screen h-full w-full 
        overflow-hidden;
    }

    .content-container .content {
        @apply pl-20 sm:px-20 py-3 text-gray-700 dark:text-gray-300;
    }

    .dropdown {
        @apply m-0 w-full px-2 pb-2
        transition duration-300 ease-in-out;
    }

    .dropdown-header {
        @apply flex flex-row items-center justify-evenly
        mx-0 text-gray-500
        cursor-pointer;
    }

    .dropdown-header-text {
        @apply text-gray-500  text-opacity-90 
        text-lg font-semibold
        cursor-default;
    }

    .dropdown-header-text-selected {
        @apply text-blue-500 text-opacity-90 text-lg font-bold;
    }

    .dropdown-selection {
        @apply flex flex-row items-center justify-evenly
        mt-1 mr-auto ml-2
        transition duration-300 ease-in-out
        cursor-pointer;
    }

    .dropdown-selection-text {
        @apply text-gray-500 font-semibold tracking-wide
        mr-auto
        transition duration-300 ease-in-out 
        hover:text-pink-500 dark:hover:text-gray-500
        cursor-pointer;
    }

    .Toastify__toast svg {
        @apply fill-green-600;
    }

    .Toastify__toast .Toastify__progress-bar--success {
        @apply bg-green-600;
    }

    .Toastify__toast .Toastify__progress-bar--error {
        @apply bg-red-600;
    }

    .text-input {
        @apply block px-2.5 pb-2.5 pt-4 w-full
        text-sm text-gray-900 dark:text-white
        rounded-lg appearance-none bg-transparent
        border-gray-300 focus:border-green-600 dark:border-gray-600 dark:focus:border-green-500 
        focus:outline-none focus:ring-0;
    }

    .text-input-label {
        @apply absolute text-sm text-gray-500 dark:text-gray-400
        duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]
        bg-gray-100 dark:bg-gray-700
        px-2 peer-focus:px-2
        hover:cursor-text
        peer-focus:text-green-600 peer-focus:dark:text-green-500
        peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1;
    }

    .btn.btn-green {
        @apply flex flex-row items-center justify-center
        px-5 py-2.5 mr-2 my-4
        bg-green-600 hover:bg-green-600
        text-white
        rounded-lg
        transition duration-300 ease-in-out;
    }
}

@tailwind utilities;

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-500 dark:bg-green-400;
}
